{% extends 'template_base/base.html' %}
{% load static  %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'landingpage/css/new.css' %}">
{% endblock css %}

{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">
      <div
        class="row justify-content-center"
        data-aos="fade-up"
        data-aos-delay="150"
      >
        <div class="col-xl-12 col-lg-8">
          <h1>Ruang Interaksi</h1>
           <h1>Alam Dan Manusia</h1>
        </div>
      </div>
  </section>
  <!-- End Hero -->

  <main id="main">
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <!--    History and about label   -->
        <div class="section-title">
          <h2>About</h2>
          <div class="row">
            <div
              class="col-lg-6 order-1 order-lg-2"
              data-aos="fade-left"
              data-aos-delay="100"
            >
              <img src="{{LP.image_1.url}}" class="img-fluid" alt="">

            </div>
            <div
              class="col-lg-6 order-lg-1 content"
              data-aos="fade-right"
              data-aos-delay="100"
            >
              <p class="main-title">HISTORY</p>
              {{LP.history | safe}}
              <p>
                Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse cillum
                dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                cupidatat non proident
              </p>
            </div>
          </div>
        </div>

        <!--    Vision and Mision    -->
        <div class="section-title">
          <div class="row">
            <div
              class="col-lg-6 order-1 "
              data-aos="fade-left"
              data-aos-delay="100"
            >
              <img src="{{LP.image_1.url}}" class="img-fluid" alt="">

            </div>
            <div
              class="col-lg-6 order-lg-1 content"
              data-aos="fade-right"
              data-aos-delay="100"
            >
              <p class="main-title">VISI MISI & CORE VALUE</p>
              {{LP.visi_misi_and_core_value | safe}}
            </div>
          </div>
        </div>


        <!--    Strategy and Program    -->
        <div class="section-title">
          <div class="row">
            <div
              class="col-lg-6 order-1 order-lg-2"
              data-aos="fade-left"
              data-aos-delay="100"
            >
              <img src="{{LP.image_1.url}}" class="img-fluid" alt="">

            </div>
            <div
              class="col-lg-6 order-lg-1 content"
              data-aos="fade-right"
              data-aos-delay="100"
            >
              <p class="main-title">STRATEGY AND PROGRAM</p>
              {{LP.strategy_and_program | safe}}
            </div>
          </div>
        </div>

        <!--    end about ?    -->
        <div class="row">
          <div
            class="col-lg-6 order-1 order-lg-2"
            data-aos="fade-left"
            data-aos-delay="100"
          >
            <img src"{% static "landingpage/img/about.jpg" %}" class="img-fluid" alt="" />

          </div>
          <div
            class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content"
            data-aos="fade-right"
            data-aos-delay="100"
          >
            <h3>
              Voluptatem dignissimos provident quasi corporis voluptates sit
              assumenda.
            </h3>
            <p class="font-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <ul>
              <li>
                <i class="ri-check-double-line"></i> Ullamco laboris nisi ut
                aliquip ex ea commodo consequat.
              </li>
              <li>
                <i class="ri-check-double-line"></i> Duis aute irure dolor in
                reprehenderit in voluptate velit.
              </li>
              <li>
                <i class="ri-check-double-line"></i> Ullamco laboris nisi ut
                aliquip ex ea commodo consequat. Duis aute irure dolor in
                reprehenderit in voluptate trideta storacalaperda mastiro
                dolore eu fugiat nulla pariatur.
              </li>
            </ul>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
              aute irure dolor in reprehenderit in voluptate velit esse cillum
              dolore eu fugiat nulla pariatur. Excepteur sint occaecat
              cupidatat non proident
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">
        <div class="owl-carousel clients-carousel">
          {% for logo in sponsor_logos %}
          <img src="{{logo.organization_logo.url}}" alt="" />
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- End Clients Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container" data-aos="fade-up">
        <div class="row no-gutters">
          <div
            class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"
            data-aos="fade-right"
            data-aos-delay="100"
            style="background: url('{{ articles.0.banner.url }}') center center no-repeat;"
          ></div>
          <div
            class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch"
            data-aos="fade-left"
            data-aos-delay="100"
          >
            <div class="content d-flex flex-column justify-content-center">
              <h3>{{articles.0.name}}</h3>
              <p>
                {{articles.0.meta_description}}
              </p>
              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-newspaper"></i>
                    <span style='text-overflow: ellipsis; white-space: nowrap;overflow: hidden;'>{{articles.1.name}}</span>
                    <p>
                      <strong>2. </strong> {{articles.1.meta_description}}
                    </p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-newspaper"></i>
                    <span style='text-overflow: ellipsis; white-space: nowrap;overflow: hidden;'>{{articles.2.name}}</span>
                    <p>
                      <strong>3. </strong> {{articles.2.meta_description}}
                    </p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-newspaper"></i>
                    <span style='text-overflow: ellipsis; white-space: nowrap;overflow: hidden;'>{{articles.3.name}}</span>
                    <p>
                      <strong>4. </strong> {{articles.3.meta_description}}
                    </p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-newspaper"></i>
                    <span style='text-overflow: ellipsis; white-space: nowrap;overflow: hidden;'>{{articles.4.name}}</span>
                    <p>
                      <strong>5. </strong> {{articles.4.meta_description}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- End .content-->
          </div>
        </div>
      </div>
    </section>
    <!-- End Counts Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="zoom-in">
        <div class="owl-carousel testimonials-carousel">
          {% for reviews in review %}
            <div class="testimonial-item">
              <h3>{{ reviews.user_name }}</h3>
              <h4>{{ reviews.user_occupation }}</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                {{ reviews.user_review | safe }}
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          {% endfor %}

        </div>
      </div>
    </section>
    <!-- End Testimonials Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Team</h2>
          <p class="main-title">Board & Management Team</p>
        </div>

        <div class="row">

          {% for teams in team %}
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="100">
                <div class="member-img">
                  <img
                    src="{{ teams.staff_photo.url }}"
                    class="img-fluid"
                    alt="{{ teams.staff_name }}"
                  />
                  <div class="social">
                    <a href="{{ teams.staff_social_twitter }}"><i class="icofont-twitter"></i></a>
                    <a href="{{ teams.staff_social_facebook }}"><i class="icofont-facebook"></i></a>
                    <a href="{{ teams.staff_social_instagram }}"><i class="icofont-instagram"></i></a>
                    <a href="{{ teams.staff_social_linkedin }}"><i class="icofont-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>{{ teams.staff_name }}</h4>
                  <span>{{ teams.staff_position }}</span>
                </div>
              </div>
            </div>
          {% endfor %}

        </div>
      </div>
    </section>
    <!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Contact</h2>
          <p class="main-title">Contact Us</p>
        </div>

        <div>
          <iframe
            style="border: 0; width: 100%; height: 270px"
            src="{{ LP.office_location_map }}"
            frameborder="0"
            allowfullscreen
          ></iframe>
        </div>

        <div class="row mt-5">
          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>{{ LP.office_address }}</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>{{ LP.office_email }}</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>{{ LP.office_phone_number }}</p>
              </div>
            </div>
          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">
            <form action="{% url 'send' %}" method="POST">{% csrf_token %}
<!--              ## get current path for redirect-->
              <input type="hidden" name="current" value="{{ request.path }}"/>

              <div class="form-row">

                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>

                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>

              </div>
              <div class="form-group">

                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>

              </div>
              <div class="form-group">

                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>

              </div>

              <div class="mb-3">
                {% if messages %}
                  <div class="sent-message">
                    {% for message in messages %}
                      {% if message.tags == 'warning'  %}
                        <div class="alert alert-danger" role="alert">
                          {{ message }}
                        </div>
                      {% else %}
                        <div class="alert alert-success" role="alert">
                          {{ message }}
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>

              <div style="text-align:center">
                <button style="background:#ffc451;border:0;padding:10px 24px;color:#151515;transition:0.4s;border-radius:4x" type="submit">Send Message</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- End Contact Section -->
    <section class="container" style="padding: 0 0 40px 0;">
      <div class="container">
          <!-- List group -->
          <center><div class="list-group list-group-horizontal" id="myList" role="tablist" style="margin-bottom:2%;width:40%;">
            <a class="list-group-item list-group-item-action active" data-toggle="list" href="#donation" role="tab">Donation</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#faq" role="tab">FAQ</a>
          </div></center>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane text-justify active" id="donation" role="tabpanel">
              <center><h3>Donation</h3></center>
              <p>
                Nama Bank: {{ LP.bank_name }}<br>
                No. Rek: {{ LP.no_rek }}<br>
                Pemilik Akun: {{ LP.bank_account_owner }}<br>
              </p>
            </div>

            <div class="tab-pane text-justify" id="faq" role="tabpanel">
              <div class="container">
                  <div class="panel-group" id="accordion">

                    {% for faq in question_answer %}
                      <div class="panel panel-default">
                          <div class="panel-heading">
                              <h4 class="panel-title">
                                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#col{{ faq.id }}">{{ faq.question }}</a>
                              </h4>
                          </div>
                          <div id="col{{ faq.id }}" class="panel-collapse collapse in">
                              <div class="panel-body">
                                {{ faq.answer | safe }}
                              </div>
                          </div>
                      </div>
                    {% endfor %}

                  </div>
              </div>
            </div>
          </div>
      </div>
    </section>
  </main>
  <!-- End #main -->

{% endblock content %}

{% block javascript %}
  <!-- Vendor JS Files -->
  <script src="{% static "landingpage/vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "landingpage/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "landingpage/vendor/jquery.easing/jquery.easing.min.js" %}"></script>
  <script src="{% static "landingpage/vendor/php-email-form/validate.js" %}"></script>
  <script src="{% static "landingpage/vendor/owl.carousel/owl.carousel.min.js" %}"></script>
  <script src="{% static "landingpage/vendor/isotope-layout/isotope.pkgd.min.js" %}"></script>
  <script src="{% static "landingpage/vendor/venobox/venobox.min.js" %}"></script>
  <script src="{% static "landingpage/vendor/waypoints/jquery.waypoints.min.js" %}"></script>
  <script src="{% static "landingpage/vendor/counterup/counterup.min.js" %}"></script>
  <script src="{% static "landingpage/vendor/aos/aos.js" %}"></script>


  <!-- Template Main JS File -->
<script src="{% static "landingpage/js/main.js" %}"></script>
{% endblock javascript %}
