{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Cempaka Foundation</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link rel="stylesheet" type="text/css" href="{% static "landingpage/img/favicon.png" %}">
    <link rel="stylesheet" type="text/css" href="{% static "landingpage/img/apple-touch-icon.png" %}">

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static "landingpage/vendor/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "landingpage/vendor/icofont/icofont.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "landingpage/vendor/boxicons/css/boxicons.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "landingpage/vendor/owl.carousel/assets/owl.carousel.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "landingpage/vendor/remixicon/remixicon.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "landingpage/vendor/aos/aos.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "landingpage/vendor/aos/aos.css" %}">

    <!--  login css  -->
    <link rel="stylesheet" type="text/css" href="{% static "login/css/main.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "login/css/bootstrap.css" %}">

    <!-- Template Main CSS File -->
    <link rel="stylesheet" type="text/css" href="{% static "landingpage/css/style.css" %}">

    <!--  Extras CSS  -->
    {% block css %}
    {% endblock css %}

  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top {%if request.path != '/' %}header-inner-pages{%endif%} ">
      <div class="container d-flex align-items-center justify-content-between">
        <h1 class="logo">
          <a href="{% url 'landingpage' %}">Yayasan Cempaka</span></a>
        </h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a href="{% url 'landingpage' %}#hero">Home</a></li>
            <li><a href="{% url 'landingpage' %}#about">About</a></li>
            <li><a href="{% url 'article' %}#services">Article</a></li>
            <li><a href="{% url 'list_program_activity' %}#portfolio">Program & Activity</a></li>
            <li><a href="{% url 'landingpage' %}#team">Team</a></li>
            <li><a href="{% url 'landingpage' %}#contact">Contact</a></li>
            <li><a href="{% url 'landingpage' %}#contact">Hutan Asuh</a></li>
          </ul>
        </nav>
        {% if user.is_authenticated %}
          <div class="dropdown">
            <button class="get-started-btn scrollto popup-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
            style="background:transparent">
            My Acc</button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{% url 'dashboard_profile' %}">Dashboard</a>
              <a class="dropdown-item" href="{% url 'logout' %}">Log Out</a>
            </div>
          </div>
        {% else %}
          <a href="{% url 'login' %}?next={% url 'dashboard_profile' %}"><button class="get-started-btn scrollto popup-btn"
                                                                      style="background:transparent">Log In</button></a>
        {% endif %}
<!--        <button onclick="document.getElementById('wrapper-login100').style.display='flex'" class="get-started-btn scrollto popup-btn">Log In</button>-->
        <!-- .nav-menu -->
      </div>
    </header>
    <!-- End Header -->
    {% block content %}
    {% endblock content %}

    <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Yayasan Cempaka</span></h3>
              <p>
                Gamoh, Dayurejo, Kec. Prigen, Pasuruan<br />
                Jawa Timur 67157, INDONESIA<br /><br />
                <strong>Phone:</strong> +62 81230002557<br />
                <strong>Email:</strong> info@example.com<br />
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"
                  ><i class="bx bxl-facebook"></i
                ></a>
                <a href="#" class="instagram"
                  ><i class="bx bxl-instagram"></i
                ></a>
                <a href="#" class="google-plus"
                  ><i class="bx bxl-skype"></i
                ></a>
                <a href="#" class="linkedin"
                  ><i class="bx bxl-linkedin"></i
                ></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">Home</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">About us</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i> <a href="#">Services</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Terms of service</a>
              </li>
              <li>
                <i class="bx bx-chevron-right"></i>
                <a href="#">Privacy policy</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
         Yayasan Cempaka <strong><span>&copy;2021</span></strong
        >. All Rights Reserved
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>

    {% block javascript %}
    {% endblock javascript %}

  <script src="{% static "landingpage/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  </body>
</html>
