{% extends 'template_base/base.html' %}
{% load static from staticfiles %}

{% block css %}
  <style rel="stylesheet">
    .portfolio-description img {
      width:100% !important;
    }
  </style>
{% endblock css %}

{% block content %}
  <main id="main">
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>News & Article</h2>
          <ol>
            <li><a href="{% url 'login' %}">Home</a></li>
            <li><a href="{% url 'list_program_activity' %}">News & Article</a></li>
            <li>{{ data.name }}</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container" data-aos="fade-up">

        <h2>{{ data.name }}</h2>
        <div class="portfolio-details-container">
          <div class="container">
            <img src="{{ data.banner.url }}" class="img-fluid" alt="">
            <center style="border-bottom:3px solid"><small>{{data.meta_description}}</small></center>
          </div>
        </div>

        <div class="portfolio-description">
          <p id="article-body">{{ data.body | safe }}</p>
        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  {% endblock content %}


  {% block javascript %}
    <!-- Vendor JS Files -->
    <script src="{% static 'login/js/jquery.min.js' %}"></script>
    <script src="{% static 'login/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'login/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'login/js/validate.js' %}"></script>
    <script src="{% static 'login/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'login/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'login/js/venobox.min.js' %}"></script>
    <script src="{% static 'login/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'login/js/counterup.min.js' %}"></script>
    <script src="{% static 'login/js/aos.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'login/js/main.js' %}"></script>

    <!-- Bootstrap Blog -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/assets/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/assets/vendor/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/vendor/holder.min.js"></script>
{% endblock javascript %}