{% extends 'template_base/base.html' %}
{% load static from staticfiles %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'article/css/style.css' %}">
{% endblock css %}

{% block content %}
    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <ol>
                      <li><a href="{% url 'landingpage' %}">Home</a></li>
                      <li>Program & Activity</li>
                    </ol>
                </div>

            </div>
        </section>
        <!-- End Breadcrumbs -->

        <section class="wrapper">
          <div class="container-fostrap">
            <div class="content">
              <div class="container">
                <div class="row">

                  {% for post in program_activity_list %}
                      <div class="col-xs-12 col-sm-4">
                        <div class="card">
                          <a class="img-card" href="{{ post.get_absolute_url }}">
                            <img src="{{ post.image.url }}" />
                          </a>
                          <div class="card-content">
                            <h4 class="card-title">
                              <a href="{{ post.get_absolute_url }}">{{ post.title }} </a><br>
                              <small>{{ post.category }}</small>
                            </h4>
                            <p class="">
                              {{ post.meta_description | safe }}
                            </p>
                          </div>
                          <div class="card-read-more">
                            <a href="{{ post.get_absolute_url }}" class="btn btn-link btn-block">
                              Read More
                            </a>
                          </div>
                        </div>
                      </div>
                  {% endfor %}


                </div>
              </div>
            </div>
          </div>
        </section>
{% endblock content %}

{% block javascript %}
    <!-- Vendor JS Files -->
    <script src="{% static 'login/js/jquery.min.js' %}"></script>
    <script src="{% static 'login/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'login/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'login/js/validate.js' %}"></script>
    <script src="{% static 'login/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'login/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'login/js/venobox.min.js' %}"></script>
    <script src="{% static 'login/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'login/js/counterup.min.js' %}"></script>
    <script src="{% static 'login/js/aos.js' %}"></script>

    <!-- Template Main JS File -->
    <script src="{% static 'login/js/main.js' %}"></script>

    <!-- Bootstrap Blog -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/assets/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="/assets/vendor/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/vendor/holder.min.js"></script>
{% endblock javascript %}